html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


#home{
visibility:hidden;
width: 100vw;
height: auto;
animation: bg-color 15s infinite;
}

#header{
  width:95vw;
  height: 20vh;
  margin: 0 auto 5vh auto;
  background-color: #0E7AC4;
}


@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

#header-text{
  font-weight: bold;
}

#main{
  width: 95vw;
  height: 2000px;
  margin: auto;
  background-color: #F5F5F5;

}

#footer{
  width: 95vw;
  height: 100px;
  margin: auto;
  background-color: #FF6860;

}
