html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


#home{
visibility: hidden;
width: auto;
height: auto;
background-color:#F5F5F5;
}

#header{
  width:100vw;
  height: 20vh;
  background-color:#16A6B6;
}

#main{
  width: 100vw;
  height: 2000px;
  background-color: #F5F5F5;

}

#footer{
  width: 100vw;
  height: 100px;
  background-color: #FF6860;

}
