html,body,p{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html{
  animation: bg-color 30s infinite;
}


#home{
visibility:visible;
width: 100%;
height: auto;
}

.img{
  max-width: 40%;
  max-height: 40%;
  border-radius: 10px;
}

.img-a{
  border-radius: 10%;
  max-width: 30%;
  max-height: 30%;
}

@keyframes bg-color{
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

#header{
  width:100%;
  height: 100vh;
  margin: 0 auto 0 auto;
  background-color: #363947;
  background-image: url(img/back.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@keyframes head-key1{
  0%{height: 100vh;}
  100%{height: 10vh;}
}



#pic{
  height: 80%;
}

#header-text{
  height: auto;
  text-align: center;
  font-weight: 100;
  font-size: 35pt;
  animation: col 3s infinite;
}

#logo{
  color:#F1F0EE;
  height: auto;
  text-align: center;
  font-weight: 100;
  display: none;
  font-size: 7vh;
}


@keyframes col{
  0% { color: #e74c3c; }
  20% { color: #f1c40f; }
  40% { color: #1abc9c; }
  60% { color: #3498db; }
  80% { color: #9b59b6; }
  100% { color: #e74c3c; }
}

.content{
  width: 90vw;
  height: 45vw;
  margin: 10vh auto;
  border-radius: 10px;
  background-color: #F1F0EE;
}

.sec{
  text-align: center;
}
.sec h1{
  border-bottom: 1px solid;
}


.sentence{
  text-align: center;
}
.sentence p{
  line-height: 2.7;
}

.sentence h1{
  border: dashed 2px;
}

#test{

}



#footer{
  width: 100%;
  height: 10vh;
  background-color: #0E7AC4;

}
